.hero {
    height: 45vh;
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-left {
    width: 59vw;
    margin: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 4px;
    gap: 5px;
}

.hero-left h1{
    padding: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
} 

.hero-left h2{
    padding: 2px;
    font-size: 31px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.hero-left p{
    font-size: larger;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px;
    word-spacing: 12px;
}

.hero-left hr{
    width: 20vw;
    display: flex;
    justify-content: center;
    height: 0.01vh;
    color: black;
}

.hero-right {
    width: 40vw;
    height: 85%;
    padding: 23px;
    display: flex;
    justify-content: start;
}

.hero-right img {
    border-radius: 23px 0px 0px 23px;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
}