.about{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
}
.Heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 14px;
    font-size: 21px;
    font-weight: 300;
   font-style: italicq;
}
.Heading hr{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote{
    font-size: larger;
    font-style: italic;
    font-weight: 400;
    width: 750px;
    padding: 3px;
}
.Content{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 16px;
}
.para1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
h3{
    padding: 8px;
    font-size: larger;
    font-style: oblique;
}
span{
    padding: 24px;
    word-spacing: 4px;
    font-size: 18px;
    font-weight: 300;
}
.image img{
    padding: 24px;
    height: 600px;
    width: 600px;
}